.lw-selected {
    border:3px dashed red;
    border-radius: 3px;
    padding:0.03em 0.25em;
    scroll-margin-top: 6rem;
}
.lw-parliamentarian, .lw-parliamentarian * {
    background-color: lightgreen !important;
    padding:0.1em 0.2em;
}
/* .lw-parliamentarian::after {
    content: "✅";
} */
.lw-lobbyist, .lw-lobbyist * {
    background-color: thistle !important;
    padding:0.1em 0.2em;
}
